<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @specialist.name %>
</p>

<p>
  <b>Speciality:</b>
  <%= @specialist.speciality %>
</p>


<%= link_to 'Edit', edit_specialist_path(@specialist) %> |
<%= link_to 'Back', specialists_path %>
