<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @patient.name %>
</p>
<p>
  <b>Patient ID:</b>
  <%= @patient.id %>
</p>
<p>
  <b>Street address:</b>
  <%= @patient.street_address %>
</p>


<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
