<%= form_for(@appointment) do |f| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% @appointment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
   <p>Patient <a href="http://localhost:3000/patients">Patient</a></p></p>
    <p>Specialist <a href="http://localhost:3000/specialists">Specialist</a></p></p>
    <p>Appointment System <a href="http://localhost:3000/appointments">Appointments</a></p></p>
    <p>Insurance <a href="http://localhost:3000/insurances">Insurance</a></p></p>

  <div class="field">
    <%= f.label :complaint %><br />
    <%= f.text_area :complaint %>
  </div>
  <div class="field">
    <%= f.label :appointment_date %><br />
    <%= f.date_select :appointment_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
